@font-face {
		font-family: Questrial;
		src: url("/font/Questrial-Regular.ttf");
}

							/* main */
html {
		background:
			-moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 85%, rgba(0,0,0,0.2) 100%),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		background:
			-webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 85%,rgba(0,0,0,0.2) 100%),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		background:
			-o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 85%,rgba(0,0,0,0.2) 100%),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		background:
			-ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 85%,rgba(0,0,0,0.2) 100%),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		background:
			radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 85%,rgba(0,0,0,0.2) 100%),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		filter:
			progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 ),
			url("/img/bg_light.png") repeat fixed 0 0 transparent;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
}

div.center {
		text-align: center;
		position: absolute;
		height: 222px;
		width: 706px;
		top: 50%;
		left: 50%;
		margin-top: -111px;
		margin-left: -353px;
}

#time{
		margin: auto;
		width: 712px;
}


							/* clock */
.clock {
		height: 220px;
		width: 220px;
		margin: auto;
		float: left;
		position: relative;
		overflow: hidden;
		border: 1px solid rgba(0,0,0,0.2);
		-webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
			 -o-border-radius: 6px;
				border-radius: 6px;

		 -webkit-box-shadow: 0px -2px 1px rgba(0,0,0,0.2) inset,
							 0px  2px 1px rgba(0,0,0,0.2) inset,
							 1px  0px 1px rgba(0,0,0,0.2) inset,
							-1px  0px 1px rgba(0,0,0,0.2) inset;
			-moz-box-shadow: 0px -2px 1px rgba(0,0,0,0.2) inset,
							 0px  2px 1px rgba(0,0,0,0.2) inset,
							 1px  0px 1px rgba(0,0,0,0.2) inset,
							-1px  0px 1px rgba(0,0,0,0.2) inset;
			  -o-box-shadow: 0px -2px 1px rgba(0,0,0,0.2) inset,
							 0px  2px 1px rgba(0,0,0,0.2) inset,
							 1px  0px 1px rgba(0,0,0,0.2) inset,
							-1px  0px 1px rgba(0,0,0,0.2) inset;
				 box-shadow: 0px -2px 1px rgba(0,0,0,0.2) inset,
							 0px  2px 1px rgba(0,0,0,0.2) inset,
							 1px  0px 1px rgba(0,0,0,0.2) inset,
							-1px  0px 1px rgba(0,0,0,0.2) inset;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 );
}

.clock .rotate {
		display: none;
}

.rotate.right {
		display: none;
		z-index: 11;
}

.clock .bg, .clock .front {
		width: 220px;
		height: 220px;
		position: absolute;
		top: 0;
}

.clock .display {
		position: absolute;
		width: 220px;
		height: 220px;
		font-family: Questrial;
		z-index: 20;
		color: rgba(0,0,0,0.5);
		font-size: 180px;
		text-align: center;
		top: 25px;
							/* neon glow */
	    default text-shadow: 0px 0px 2px rgba(0,0,0,1); 

							/* animation */
		 -webkit-transition: color 1000ms ease-out;
			-moz-transition: color 1000ms ease-out;
			  -o-transition: color 1000ms ease-out;
			  	 transition: color 1000ms ease-out;
}

.display.change {
    color: rgba(0,0,0,0.8);
    -webkit-transition: color 0ms;
       -moz-transition: color 0ms;
         -o-transition: color 0ms;
            transition: color 0ms;
}


.hour, .minute {
		margin-right: 20px;
}
.clock .front.left {
		left: 0;
		z-index: 10;
}


.hour::before {
		content: "hours";
		position: absolute;
		font-family: Questrial;
		font-size: 14px;
		color: rgba(0,0,0,0.5);
		bottom: 3px;
		left: 93px;
}
.minute::before {
		content: "minutes";
		position: absolute;
		font-family: Questrial;
		font-size: 14px;
		color: rgba(0,0,0,0.5);
		bottom: 3px;
		left: 84px;
}
.second::before {
		content: "seconds";
		position: absolute;
		font-family: Questrial;
		font-size: 14px;
		color: rgba(0,0,0,0.5);
		bottom: 3px;
		left: 84px;
}

							/* footer */
.footer a {
		text-decoration: none;
		opacity: 1;
		position: absolute;
		color: #fff;
		font-family: Questrial;
		font-size: 16px;
		bottom: 15px;
		right: 15px;
		 -webkit-transition: 1s;
			-moz-transition: 1s;
			  -o-transition: 1s;
				 transition: 1s;
}
.footer:hover a {
		color: #000;
		opacity: 1;
		 -webkit-transition: 1s;
			-moz-transition: 1s;
			  -o-transition: 1s;
				 transition: 1s;
}
.footer:hover img {
		opacity: 0.3;
}
.footer img {
		opacity: 0.3;
		margin: 0px 0px -8px 6px;
}
.style {
		font-family: Questrial;
		position: absolute;
		width: 180px;
		left: 50%;
		margin-left: -90px;
		bottom: 15px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		opacity: 1;
}

.style input {
		font-family: Questrial;
		display: inline;
		font-size: 12px;
		color: #fff;
		background: transparent;
		border: 0px transparent;
}
input:hover {
		color: #000;
}